<div style="background-image: url(assets/images/background.jpg);
height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">

  <app-header></app-header>

  <div class="container" style="padding-top: 100px; padding-bottom: 100px;"><br><br>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <h1 style="text-align: center;">Form</h1>
        <form [formGroup]="parentForm">
          <label for="firstName">First Name<br>
            <input type="text" name="firstName" id="firstName" tabindex="1" formControlName="firstName">
          </label><br>
          <label for="lastName">Last Name<br>
            <input type="text" name="lastName" id="lastName" tabindex="2" formControlName="lastName">
          </label><br>
          <app-child></app-child>
          <br>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
          style="background-color: green; color: white;">Next Step</button>
        </form>
      </div>
      <div class="col-md-4"></div><br><br>
    </div><br><br>
  </div>

  <app-footer></app-footer>

</div>